@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #efedd6;
}

h1 {
	margin: 10px;
}

.box {
	background-color: steelblue;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 200px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
	transform: translateX(400%);
	transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
	transform: translateX(-400%);
}

.box.show {
	transform: translateX(0);
}
