@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.bg {
	background: url('https://images.unsplash.com/photo-1548051717-3bc3ac670e61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80')
		no-repeat center center fixed;
	top: -30px;
	left: -30px;
	position: absolute;
	z-index: -1;
	width: calc(100vw + 60px);
	height: calc(100vh + 60px);
	filter: blur(0px);
}

.loading-text {
	font-size: 50px;
	color: #fff;
	z-index: 100;
}
