@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #333;
	color: #222;
}

.container {
	background-color: #fafafa;
	padding: 60px;
	transform-origin: top left;
	transition: transform 0.5s linear;
	width: 100vw;
	min-height: 100vh;
}

.container.show-nav {
	transform: rotate(-20deg);
}

.circle-container {
	position: fixed;
	top: -100px;
	left: -100px;
}

.circle {
	background-color: #ff7979;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
	transition: transform 0.5s linear;
}

.circle button {
	position: absolute;
	cursor: pointer;
	top: 50%;
	left: 50%;
	height: 100px;
	background: transparent;
	border: 0;
	font-size: 26px;
	color: #fff;
}

.circle button:focus {
	outline: none;
}

.circle button#open {
	left: 60%;
}

.circle button#close {
	top: 60%;
	transform: rotate(90deg);
	transform-origin: top left;
}

.container img {
	width: 100%;
}
